.layout {
  height: 100vh;
  background-color: #e5e5e5;
  overflow: auto;
}
.nav {
  width: 99%;
  margin: auto;
  margin-top: 0.5%;
  /* height: 80px; */
  padding: 1.5% 0;
  background-color: #fefefe;
  border: 10px;
  display: grid;
  border-radius: 10px;
  grid-template-columns: 75% auto auto auto auto auto;
}
.user {
  margin-top: 5%;
  margin-left: -16%;
}
.spot {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: black;
  margin: 0% 2%;
}
.hive {
  /* margin-top: 0.5%; */
  font-size: 24px;
}
.active {
  /* background-color: blue; */
}
.active div {
  float: left;
}
.navlist {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.holder {
  margin-top: 21%;
  margin-left: 20%;
}
#profile {
  margin-top: 21%;

  margin-left: 27%;
}
.sec {
  display: grid;
  grid-template-columns: 24% 57% 20%;
}
.leftPane {
  /* width: 24%; */
  height: 85vh;
  background-color: #fefefe;
  margin-left: 2%;
  margin-top: 1%;
  border-radius: 10px;
}
.spans {
  display: grid;
  grid-template-columns: 85% auto;
}
.spans h4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 5%;
  margin-left: 4%;
}
.menuspot {
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin-top: 23%;
}
.menu {
  margin-top: 17%;
  margin-left: 43%;
}
.search input {
  padding: 2.5%;
  outline: none;
  background-color: rgba(130, 131, 130, 0.1);
  border-radius: 10px;
  border: none;
  width: 93%;
  margin-left: 3%;
}
.deet {
  width: 37%;
  margin: auto;
  margin-top: 30%;
}
.deet p {
  margin-left: 6%;
}
.deet a {
  color: #4ab5e1;
  text-decoration: underline #4ab5e1;
}

.midpane .navi {
  /* width: 58%; */
  width: 99%;
  margin: auto;
  margin-top: 0.4%;
  /* height: 80px; */
  padding: 1% 0;
  background-color: #fefefe;
  border: 10px;
  display: grid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-template-columns: 76% auto auto auto auto;
  transition: width 0.2s linear;
}
.dot {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #d6d6d6;
  margin-left: 4%;
  margin-top: 3%;
}
.dot .pers {
  margin-top: 21%;
  margin-left: 27%;
}
.icons {
  margin-top: 42%;
  margin-left: 60%;
}
#menu2 {
  margin-top: 58%;
  margin-left: 80%;
}

.section {
  background-color: #fefefe;
  width: 99%;
  height: 75%;
  margin: auto;
  overflow: auto;
  transition: width 0.2s linear;

  margin-top: 0.2%;
}
#xpand {
  height: 10%;
  width: 132%;
  margin-left: 0.5%;
}
.xpanded {
  width: 132%;
  margin-left: 0.5%;
}
#xpanded {
  width: 132%;
  margin-left: 0.5%;
}
.none {
  display: none;
}

.bear {
  width: 20%;
  margin: auto;
  margin-top: 15%;
}
.teddy p {
  width: 37%;
  margin: auto;
  margin-top: 2%;
}
.msgInput {
  min-height: 40px;
  position: relative;
  width: 99%;
  margin: auto;
  margin-top: 0.2%;
  background-color: #fefefe;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;

  overflow-y: auto;
  overflow-x: hidden;
  grid-template-columns: 10% 8% 70% 20%;
}
.msgInput input {
  width: 100%;
  outline: none;
  background-color: #f2f2f2;
  border: none;
  /* padding: 0% 1.5%; */
  height: 51px;
  word-wrap: break-word;
  word-break: break-all;
  margin-top: 3%;
  border-radius: 10px;
}
.fol {
  margin-top: 35%;
  margin-left: 16%;

  /* background-color: brown; */
}
.send {
  margin-top: 10%;
  margin-left: 20%;
  background-color: #f2f2f2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.send .imj {
  margin-left: 27%;
  margin-top: 19%;
}
.add {
  width: 36px;
  height: 36px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin-top: 17%;
  margin-left: 26%;
}
.add .imj {
  margin-left: 30%;
  margin-top: 20%;
}
.rightpane {
  background-color: #fefefe;
  margin-top: 1.2%;
  width: 92%;
  border-radius: 10px;
}
.close {
  float: right;
  margin: 11%;
}
.txt {
  margin: auto;
  width: 60%;
  margin-top: 100%;
  font-size: 16px;
}
#up {
  margin-left: 18%;
  margin-top: -7%;
}
