.authContainer {
  background-color: #fff;
  display: grid;
  margin: auto;
  width: 88%;
  grid-template-columns: 44% 49%;
  /* padding-bottom: 5%; */
}

.mainRec {
  padding-top: 3%;
  margin-top: 10%;
  width: 88%;
  height: 87vh;
  border-radius: 10px;
  background-color: #e4e4e4;
  font-family: 'Open Sans', sans-serif;
}
#signin {
  padding-top: 1%;

  margin: auto;
  width: 34%;
  height: 67vh;
  margin-top: 7%;
}
#signin .txt {
  text-align: center;
}
.mainRec .txt {
  margin-left: 5%;
}
.mainRec .txt h2 {
  font-weight: 400;
  font-family: 'Fertigo', sans-serif;
  font-size: 1.2rem;
}
.mainRec .txt {
  color: rgba(0, 0, 0, 0.8);
}
.btnRw {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 4.5%;
}
.btnRw span {
  font-size: 10px;
}
.btnRw button {
  width: 89%;
  height: 152%;
  background-color: #e5e5e5;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}
.btnRw button:hover {
  background-color: rgb(236, 234, 234);
}
#fbIcon {
  margin-bottom: -3%;
  margin-right: 4%;
  color: #4460a0;
}
#gIcon {
  margin-bottom: -3%;
  margin-right: 4%;
  width: 1.5em;
  padding-bottom: 1.5%;

}
.dRow {
  margin-top: 5%;
  margin-left: 34%;
  width: 60%;
  display: flex;
  flex-direction: row;
  /* margin: auto; */
}
.bBom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  width: 20%;
}
.authInput {
  width: 91%;
  padding: 2.6%;
  outline: none;
  margin: auto;
  background-color: #c4c4c4;
  border-radius: 5px;
  /* border-color: #c4c4c4; */
  border: none;
}
.formContainer {
  padding-top: 5%;
}
.authInputContainer {
  margin-left: 4%;
  margin-bottom: 2%;
}
.authInputContainer label {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.8);
}
.signupBtn {
  background-color: #2e2e2e;
  padding: 2%;
  border-radius: 5px;
  border: none;
  width: 40%;
  margin-left: 5%;
  color: #fff;
}
#signinBtn {
  width: 25%;
}
.ft {
  
  bottom: -5%;
  width: 100%;
  box-shadow: 9px 5px 4px 4px rgb(148, 144, 144);
  display: grid;
  padding: 1%;
  font-size: small;
  /* margin-top: 10%; */

  grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.hiveright {
  font-family: 'Fertigo', sans-serif;
}

.hivetopleft {
  margin-top: 3%;
  margin-left: 5%;
}

.forgotcard {
  background-color: #E4E4E4;
  width: 35%;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  margin-top: 7%;
}

.forgotcard img {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: #C4C4C4;
  margin-top: 15%;
}

.forgotcard p {
  font-size: 20px;
  margin-bottom: 1%;
}

.forgotcard span {
  font-size: 14px;
  color: #000000;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}



.forgotcard form {
  width: 85%;
  margin: auto;
  margin-top: 10%;
  text-align: left;
  
}
.forgotcard label {
  font-weight: 300;
  font-size: 14px;
}

.forgotcard input {
  margin-top: 4px;
  width: 100%;
  padding: 3%;
  outline: none;
  background-color: #c4c4c4;
  border: none;
  border-radius: 5px;
  margin-bottom: 5%;
}

.forgotcard button {
  border: none;
  color: #fff;
  background-color: #2E2E2E;
  font-size: 14px;
  font-weight: 100;
  padding: 2.5% 9%;
  border-radius: 7px;
  font-family: 'Open Sans', sans-serif;
  
}

.forgotbutton {
  margin-top: 5%;
  margin-bottom: 20%;
  font-family: 'Open Sans', sans-serif;
}

.checkembutton {
  margin-top: 5%;
  margin-bottom: 5%;
}

.checkspan b {
  font-weight: 500;
}

.checkspan {
  margin-bottom: 15%;
}

.checkam {
  padding-bottom: 5%;
}

.checkam span , .checkam a{
  font-weight: 400;
}

.resetbutton {
  margin-bottom: 12%;
}

.resetam {
  padding-bottom: 3%;
  
}

.resetam span {
  font-weight: 400;
}

.successbut{
  margin-top: 8%;
  margin-bottom: 17%;
}

.push {
  margin-bottom: 10%;
}

.arrowback{
  vertical-align: middle;
  font-size: 1rem;
}